@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neutral Face';
  src: url('../src/assets/fonts/NeutralFace.woff2') format('opentype');
}

@font-face {
  font-family: 'Neutral Face Bold';
  src: url('../src/assets/fonts/NeutralFace-Bold.woff2') format('opentype');
}

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }

  .layout {
    @apply mx-auto w-[90%] max-w-[68.75rem];
  }

  .grid-12 {
    @apply grid grid-cols-12;
  }
}
